<nav class="navbar navbar-inverse">
  <div class='navbar-header'>
    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>
    <a class='navbar-brand' [routerLink]="['/home']">FinalProject</a>
  </div>
  <div class='navbar-collapse collapse'>
    <ul class="nav navbar-nav navbar-left">
      <li><button class="btn btn-group-lg btn-success" (click)="openModal(template)">Upload</button></li>
    </ul>


    <ul class='nav navbar-nav navbar-right'>
      <li [routerLinkActive]="['link-active']">
      </li>
      <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/register']">
          <span class='glyphicon glyphicon-education'></span> Register / Login
        </a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Upload</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input class="form-control" id="name" type="text" placeholder="Name" />
        </div>
      </div>
      <div class="form-group row">
        <label for="groups" class="col-sm-2 col-form-label">Group</label>
          <div class="col-sm-10">
            <select id="groups" class="form-control">
              <option>Sample Value</option>
            </select>
          </div>
      </div>
      <div class="form-group row">
        <label for="file" class="col-sm-2 col-form-label">File</label>
          <div class="col-sm-10">
            <input if="file" class="form-control" type="file" />
          </div>
        </div>
        <button class="btn btn-primary">Upload</button>
</form>
  </div>
</ng-template>